:root {
    /* colors */
    --active-color: #CDA274;
    --main-color: #292F36;
    --span-color: #4D5053;
    /* fonts */
    --main-font: "Jost", serif;
    --secondary-font: "DM Serif Display", serif;
}

/* header */

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 18px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header-logo {
    width: 177px;
    height: 50px;
}


.header-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.header-item {
    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: 400px;
    font-size: 20px;
}

.header-link:hover{
    color: #CDA274;
}

.header-link {
    color: var(--main-color);
    text-decoration: none;
}

.active-header-link {
    color: var(--active-color);
}

/* hero section */

.section-hero {
    background-image: url(./imgs/hero-bg.png);
    height: 831px;
    border-bottom-left-radius: 290px;
    display: block;
    padding-top: 188px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title {
    color: var(--main-color);
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 80px;
    width: 595px;
    height: 192px;
    margin-bottom: 20px;
}

.hero-span {
    display: block;
    height: 33px;
    width: 577px;
    font-family: var(--main-font);
    font-weight: 400px;
    font-size: 22px;
    color: var(--span-color);
}

.hero-btn {
    font-family: var(--main-font);
    font-weight: 400px;
    font-size: 18px;
    margin-top: 35px;
    display: block;
    background-color: var(--main-color);
    padding: 22px 67px 22px 34px;
    color: white;
    border-radius: 18px;
    border: 2px solid var(--main-color);
    cursor: pointer;
}

.hero-btn:hover{
    background-color: #1f2429;
}
.hero-arrow{
    vertical-align: center;
    margin-left: 50px;
}

/* services section */

.secvices-list {
    display: flex;
    list-style: none;
    margin-top: 175px;
    gap: 93px;
    text-align: center;
}

.services-item {
    width: 297px;
}

.services-title {
    margin-bottom: 17px;
    color: var(--main-color);
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 25px;
}

.services-description {
    margin-bottom: 35px;
    color: var(--span-color);
    font-family: var(--main-font);
    font-weight: 400px;
    font-size: 22px;
}

.services-link {
    text-decoration: none;
    color: var(--span-color);
    font-family: var(--main-font);
    font-weight: 400px;
    font-size: 18px;
}
.services-link:hover{
    color: #CDA274;
}

.services-img {
    width: 24px;
    height: 17px;
    margin-left: 6px;
    vertical-align: center;
}

/* contacts-section */

.section-contacts {
    margin-top: 100px;
}

.contacts-wrapper {
    display: flex;
}

.contacts-card {
    width: 592px;
}

.contacts-title {
    margin-bottom: 42px;
    width: 450px;
    height: 130px;
    font-family: var(--secondary-font);
    font-size: 50px;
    font-weight: 300;
    color: var(--main-color);
}

.contacts-slogan {
    margin-bottom: 46px;
    width: 531px;
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 400px;
    color: var(--span-color);
}

.contacts-number {
    display: flex;
}

.contacts-icon {
    background-image: url(./imgs/contacts-bg-icon.png);
    width: 93px;
    height: 93px;
    background-size: contain;
    padding: 30px;
    margin-right: 20px;
}

.tel-wrapper {
    display: block;
}

.contacts-tel {
    color: var(--span-color);
    font-family: var(--main-font);
    font-weight: 400px;
    font-size: 24px;
    text-decoration: none;
}

.contacts-action {
    color: var(--span-color);
    font-family: var(--main-font);
    font-weight: 400px;
    font-size: 22px;
}

.contacts-btn {
    margin-top: 50px;
    width: 263px;
    height: 71px;
    background-color: var(--main-color);
    border-radius: 18px;
    color: white;
    font-family: var(--main-font);
    font-weight: 400px;
    font-size: 18px;
    cursor: pointer;
}

.contacts-btn:hover{
    background-color: #1f2429;
}
.contacts-arrow{
    vertical-align: center;
    margin-left: 35px;
}

.contacts-photo {
    width: 592px;
}

/* recalls-section */

.section-recalls {
    background-color: #F4F0EC;
    border: #F4F0EC;
    border-radius: 70px;
    margin-top: 140px;
    padding-top: 103px;
}

.recalls-title {
    align-items: center;
    width: 479px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 47px;
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 45px;
    color: var(--main-color);
}

.recalls-list {
    display: flex;
    list-style: none;
    gap: 18px;
    align-items: center;
    margin: 0;
    padding: 0 51px 0 51px;
}

.recalls-item {
    background-color: white;
    border: white;
    border-radius: 30px;
    width: 354px;
    height: 287px;
    padding: 55px 75px 45px 35px;
    margin-bottom: 121px;
}

.recalls-wraper {
    display: flex;
    height: 77px;
    width: 289px;
}

.recalls-icon {
    width: 77px;
    height: 77px;
    margin-right: 20px;
}

.recalls-names-wraper {
    margin-top: 11px;
}

.recalls-name {
    margin: 0;
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 25px;
    color: var(--main-color);
}

.recalls-location {
    width: 136px;
    font-family: var(--main-font);
    font-weight: 400px;
    font-size: 18px;
    color: var(--span-color);
    text-align: left;
}

.recalls-paragraph {
    width: 274px;
    height: 90px;
    font-family: var(--main-font);
    font-weight: 400px;
    font-size: 20px;
    color: var(--span-color);
    margin-top: 32px;
    margin-bottom: 45px;
    line-height: 30px;
}

/* section-brands */

.section-brands {
    margin-top: 140px;
    margin-bottom: 100px;
}

.brands-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    vertical-align: center;
    align-items: center;
}

.brand1 {
    width: 132px;
    height: 43px;
}

.brand2 {
    width: 103px;
    height: 103px;
}

.brand3 {
    width: 164px;
    height: 43px;
}

.brand4 {
    width: 145px;
    height: 45px;
}

.brand5 {
    width: 117px;
    height: 48px;
}

/* projects-section */

.section-projects {
    margin-bottom: 80px;
}

.projects-title {
    width: 331px;
    height: 63px;
    margin: 0 auto;
    margin-top: 113px;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 47px;
    font-weight: 400px;
    color: var(--main-color);
}

.projects-paragraph {
    width: 786px;
    height: 66px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 9px;
    font-family: var(--main-font);
    font-weight: 400px;
    font-size: 22px;
    color: var(--span-color);
}

.projects-list {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 20px;
}

.projects-item {
    width: 590px;
}

.projects-img {
    width: 590px;
    height: 661px;
    border-top-right-radius: 80px;
    margin-top: 61px;
}

.projects-name {
    margin: 0;
    margin-top: 25px;
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 400px;
    color: var(--main-color);
}

.projects-style {
    font-family: var(--main-font);
    font-weight: 400px;
    font-size: 22px;
    color: var(--span-color);
}

.project-link{
    vertical-align: center;
}

.projects-arrow {
    width: 70px;
    height: 70px;
    padding: 30px;
    background-image: url(./imgs/bgarrow.png);
    background-repeat: no-repeat;
    margin-top: 25px;
}

.projects-li-wrapper {
    display: flex;
    justify-content: space-between;
}

.projects-name-wrapper {
    height: 70px;
}

/* reasoning section */

.section-reasoning {
    background-color: #F4F0EC;
    height: 475px;
    margin-bottom: 130px;
}

.reasoning-list {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 140px 120px;
}

.reasoning-item {
    width: 288px;
    height: 195px;
    text-align: center;
    vertical-align: center;

}

.reasoning-num {
    height: 128px;
    margin: 0 auto;
    font-family: var(--secondary-font);
    font-size: 85px;
    font-weight: 400px;
    color: #CDA274;
}

.reasoning-span {
    width: 200px;
    height: 33px;
    font-family: var(--main-font);
    font-weight: 400px;
    font-size: 22px;
    color: var(--span-color);
}

.line-decoration {
    border-right: 1px solid #CDA274;
}

.line-decoration-two {
    border-right: 1px solid #CDA274;
}

.line-decoration-three {
    border-right: 1px solid #CDA274;
}

/* blogs-section */

.section-blogs {
    height: 1344px;
    margin-bottom: 102px;
}

.blogs-main-title {
    width: 274px;
    height: 63px;
    font-family: var(--secondary-font);
    font-size: 48px;
    font-weight: 400px;
    color: #292F36;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 21px;
}

.blogs-main-paragraph {
    width: 589px;
    height: 66px;
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 400;
    color: #4D5053;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 70px;
}

.blogs-list {
    list-style: none;
    padding: 0;
}

.blogs-item-wrapper-one {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.blogs-item-wrapper-two {
    display: flex;
    gap: 20px;
}

.blogs-item {
    width: 387px;
    height: 515px;
    border-radius: 62px;
    /* background-color: #E7E7E7; */
    border: 1px solid #E7E7E7;
}

.blogs-item-wrapper {
    padding: 21px;
}

.blogs-title {
    width: 335px;
    height: 296px;
    text-align: center;
    margin: 0px;
    background-image: url(./imgs/blogs-bg1.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    color: #4D5053;
}

.blogs-title-span{
    background-color: white;
    border-radius: 8px;
    padding: 10px;

}

.two {
    width: 335px;
    height: 296px;
    text-align: center;
    margin: 0px;
    background-image: url(./imgs/blogs-bg2.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    color: #4D5053;
}

.three {
    width: 335px;
    height: 296px;
    text-align: center;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    color: #4D5053;
    background-image: url(./imgs/blogs-bg3.png);
}

.four {
    width: 335px;
    height: 296px;
    text-align: center;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    color: #4D5053;
    background-image: url(./imgs/blogs-bg4.png);
}

.five {
    width: 335px;
    height: 296px;
    text-align: center;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    color: #4D5053;
    background-image: url(./imgs/blogs-bg5.png);
}

.six {
    width: 335px;
    height: 296px;
    text-align: center;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    color: #4D5053;
    background-image: url(./imgs/blogs-bg6.png);
}


.blogs-paragraph {
    width: 334px;
    height: 70px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: var(--secondary-font);
    font-size: 25px;
    font-weight: 400px;
    color: #292F36;
}

.blogs-date-wrapper {
    display: flex;
    gap: 131px;
    vertical-align: center;
}

.blogs-span {
    width: 144px;
    height: 24px;
    padding-top: 23px;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    color: #4D5053;
}


.blogs-arrow {
    width: 70px;
    height: 70px;
    padding: 30px;
    background-image: url(./imgs/bgarrow.png);
    background-repeat: no-repeat;
}

/* join-sectyion */

.section-join {
    height: 414px;
    background-color: #292F36;
    border-radius: 70px;
    margin-bottom: 130px;
    padding-top: 100px;
}

.join-title {
    width: 534px;
    height: 75px;
    margin-bottom: 9px;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-family: var(--secondary-font);
    font-size: 50px;
    font-weight: 400px;
}

.join-contacts {
    width: 371px;
    height: 33px;
    color: white;
    margin-bottom: 31px;
    margin: 0px 426px;
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 400;
}

.join-btn {
    display: block;
    border-radius: 18px;
    color: white;
    background-color: #CDA274;
    padding: 22px 40px;
    margin: 0 auto;
    margin-top: 31px;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    border: none;
}

.join-btn:hover{
    background-color: #b38f69;
    cursor: pointer;
}

.join-arrow{
    vertical-align: center;
    margin-left: 30px;
}

/* footer */

.section-footer {
    height: 475px;
}

.footer-main-list {
    list-style: none;
    display: flex;
    gap: 34px;
}

.first{
    width: 326px;
}

.footer-item-wrapper {
    height: 374px;
}

.footer-logo {
    width: 177px;
    height: 50px;
    margin-bottom: 15px;
}

.footer-paragraph {
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 400px;
    width: 326px;
    height: 66px;
    margin-bottom: 10px;
    color: var(--span-color);
}

.footer-frame-img {
    width: 333px;
    height: 53px;
}
.footer-list-name {
    font-family: var(--secondary-font);
    font-size: 25px;
    font-weight: 400px;
    margin: 0;
    margin-bottom: 21px;
    color: var(--main-color);
}


.footer-list {
    list-style: none;
    width: 210px;
    padding: 0;
}
.footer-item-logo{
    width: 326px;
}

.footer-item {
    margin-bottom: 21px;
}

.footer-item-link{
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 400px;
    color: var(--span-color);
}

.addres{
    width: 321px;
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 400px;
    font-style: normal;
    color: #4D5053;
}

.email{
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 400px;
    text-decoration: none;
}

.tel{
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 400px;
    text-decoration: none;
    
}
.author-wrapper{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 356px;
    margin-top: 35px;
}

.create-by {
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 400px;
    color: var(--span-color);
    align-items: center;
    margin: 0;
    width: 332px;
}

.author {
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 400px;
    color: var(--active-color);
    align-items: center;
    margin: 0;
    width: 116px;
}